WLP_SKIP_MAXPERMSIZE=true

# Watson Assistant credentials..pointing to Cognitive Car Example
WATSON_ASSISTANT_API='https://gateway.watsonplatform.net/conversation/api'
WATSON_ASSISTANT_USERNAME=
WATSON_ASSISTANT_PASSWORD=
WATSON_ASSISTANT_WORKSPACE_ID=
WATSON_VERSION_DATE=
WATSON_SERVICEVERSION=

# Discovery credentials..pre-enriched Watson Discovery News, still working on integration of this service
DISCOVERY_USERNAME=
DISCOVERY_PASSWORD=
DISCOVERY_COLLECTION_ID=
DISCOVERY_ENVIRONMENT_ID=

#Cloudant credentials
CLOUDANT_USERNAME=
CLOUDANT_PASSWORD=
CLOUDANT_URL=h
CLOUDANT_DB_NAME=
